@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap');

:root {
  --theme-color: #05356c;
  --theme-color-hover: #0e4a8f;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'Noto Sans TC', sans-serif !important;
}

/* 覆蓋Bootstrap預設樣式 */
button.btn.btn-primary  {
  background-color: var(--theme-color);
  border: 0;
  &:hover{
    background-color: var(--theme-color-hover);
  }
}

.page-item.active .page-link {
  background-color: var(--theme-color);
  border-color: var(--theme-color);
  color: white !important; /* 更改文字顏色 */
}